<html ng-controller="View1Ctrl">

<div class="table-responsive">
    <table st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Description</th>
            <th>Teacher</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in students">
            <td>{{student.title}}</td>
            <td>{{student.description}}</td>
            <td>{{student.teachers}}</td>
            <td>
                <button type="button" ng-click="removeRow(row)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>