<html ng-controller="View1Ctrl">

<div class="table-responsive">
    <table st-table="subjectCollection" class="table table-striped">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Description</th>
            <th>Teacher</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in students">
            <td>{{student.title}}</td>
            <td>{{student.description}}</td>
            <td>
                <button type="button" ng-click="removeRow(student)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<h1>Valgte fag</h1>

<div class="table-responsive">
    <table st-table="subjectCollections" class="table table-striped">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Description</th>
            <th>Teacher</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="subject in getStudent">
            <td>{{subject.title}}</td>
            <td>{{subject.description}}</td>
            <td>
                <button type="button" ng-click="removeRow(student)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{{getStudent}}