<div ng-model="View2Ctrl">

<div style="padding-top: 50px">
    <div class="text-center">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only">Subject Title</label>
                <input type="text" class="form-control" id="subjecttitle" ng-model="subjecttitle"
                       placeholder="Enter Subject Title">
            </div>
            <div class="form-group">
                <label class="sr-only">Description</label>
                <input type="text" class="form-control" id="description" ng-model="description"
                       placeholder="Enter Description">
            </div>
            <div class="form-group">
                <label class="sr-only">Teacher</label>
                <input type="text" class="form-control" id="teacher" ng-model="teacher"
                       placeholder="Enter Teacher Name">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="saveSubject()"><span
                    class="glyphicon glyphicon-plus"></span> Add
            </button>
        </form>

    </div>
</div>
</div>